.footer {
	padding: 1rem 0 !important;
}

.spinner-border {
  --tblr-spinner-border-width: 5px;
  --tblr-spinner-animation-speed: 1.5s;
}

.fc .fc-bg-event {
  opacity: 1 !important;
}

.fc-timegrid-event-harness > .fc-timegrid-event {
  inset: 0 10px 0 0 !important
}

.clock {
  padding: 1rem;
  border-radius: 6px;
  letter-spacing: 0.25rem;
  color: white;
}

div[data-selectable] input[type="checkbox"] {
  margin-right: 6px !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

#headingOne {
  margin-bottom: 0px;
}

.invalid-feedback:not(:empty) {
  display: block !important;
}